# AI Models Configuration
LLM_PROVIDER=llm-provider
LLM_MODEL=llm-model
VLM_PROVIDER=vlm-provider
VLM_MODEL=vlm-model

# API Keys
LLM_API_KEY=your_llm_api_key_here
VLM_API_KEY=your_vlm_api_key_here

# Paths
DATA_DIR=data/raw
PROCESSED_DIR=data/processed
OUTPUT_DIR=data/outpus

# Logging
LOG_LEVEL=INFO
